<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>


    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Your profile was saved.
    </div>

    <label for="username">Username</label>
    <input type="text"
           ng-model="model.user.username"
           id="username"
           class="form-control"
           placeholder="username"/>

    <label for="email">Email</label>
    <input type="email"
           ng-model="model.user.email"
           id="email"
           class="form-control"
           placeholder="Email"/>

    <label for="firstname">First Name</label>
    <input type="text"
           ng-model="model.user.firstName"
           id="firstname"
           class="form-control"
           placeholder="First Name"/>

    <label for="lastname">Last Name</label>
    <input type="text"
           ng-model="model.user.lastName"
           id="lastname"
           class="form-control"
           placeholder="Last Name"/>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteUser()">Unregister</a>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text pull-right">

                <a href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>


            </div>
        </div>
    </nav>
</div>

